* {
    background-color: rgb(218, 231, 231);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --blue: #1827b3;
    --white: #FFFF;
    --dark: #000000;
}
body{
    color: var(--dark);
    background-color: var(--white);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 14px;
    box-shadow: 0 0.1rem 0.5rem #1d1d1dcc;
    width: 100%;
    transition: all 0.5s;
    position: absolute;
}
.navigation .logo{
    color: var(--blue);
    font-size: 1.1rem;
    font-weight: 600;
}
.header nav a:hover{
    transition: all 0.5s;
    transform: translateY(-5px);
    color: coral;
}
.header nav a i:hover{
    transition: all 0.5s;
    transform: translateY(-5px);
    color: coral;
}
.logo span:hover{
    transition: all 0.5s;
    transform: translateY(-5px);
    color: coral;
}
.navigation ul {
    display: contents;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: cornflowerblue;
    font-size: 19px;
    font-weight: 500;
    transition: all 0.5s;
    transform: translateY(-5px);
}
.navigation ul li a:hover{
    color: coral;
    transition: all 0.5s;
    transform: translateY(-5px);
}
.navigation ul li a i:hover{
    color: coral;
    transition: all 0.5s;
    transform: translateY(-5px);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu-bar{
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.nav-item::after{
    content:0;
    width: 100%;
    height: 4px;
}
.menu-bar:nth-child(1),
.menu-bar:nth-child(3){
    background: var(--blue);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h3{
    font-size: 1.5rem;
    color: var(--blue);
    margin-bottom: 1rem;
}
.home-text .text-h2{
    font-size: 1.5rem;
}
.home-text .text-h4{
    font-size: 1.7rem;
    color: var(--blue);
    margin-bottom: 1rem;
}
.home-text .text-h5{
    font-size: 1.5rem;
}
.home-btn{
    padding: 7px 8px;
    background: rgb(64, 64, 119);
    color: var(--white);
    border-radius:  10px;
    font-weight: 500;
    transition: 0.5s;

}
.home-btn:hover{
    transition: all 0.5s;
    transform: translateY(-5px);
    
    color: coral;
}
.logo:hover{
    transition: all 0.5s;
    transform: translateY(-5px); 
}
.nav-item:hover{
    transition: all 0.5s;
    transform: translateY(-5px);
}
.home-img{
    width: 100%;
    overflow: hidden;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.nursing:hover{
    -moz-transform: scale(1.0);
    transform: scale(1.1);
    transform: all 0.3ms;
}
@media (max-width:785px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .menu-bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .menu-bar:nth-child(2){
        opacity: 0;
    }
    .menu.ativo .menu-bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-item{
        margin: 6px 0;
    }
}
.body-cont{
    background-color: rgb(0, 79, 110);
}
.autor{
    text-align: right;
    font-size: 10px;
}
.autor:hover{
    color: coral;
}
.main{
    text-align: center;
    margin-top: 50px;
}
.bar{
    border: none;
    color: #1827b3ec;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}
.bar:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 64px;
    background: #1827b36c;
    border-radius: 10px;
    transition: all 2s ease;
}
.bar:hover::before{
    width: 100%;
}